<!-- // Submitted By:
// Anjali Rakholiya (C0793400) Ayush Kumar Singh (C0799530)
// Dashmeet Kaur (C0800265) Misita Sankhala (C0807324)
// Parampreet Kaur Gill (C0796418) Tarun Dutt (C0784296) -->

<h2>Are you sure you wnat to delete book with Id <%= id %></h2>
<form method="post" action="/book/delete/<%= id %>">
    <input type="submit" value="yes"/ >
</form>
<a href="/get/books">Back to Home</a>