<!-- // Submitted By:
// Anjali Rakholiya (C0793400) Ayush Kumar Singh (C0799530)
// Dashmeet Kaur (C0800265) Misita Sankhala (C0807324)
// Parampreet Kaur Gill (C0796418) Tarun Dutt (C0784296) -->


    <!-- Include header-->
<%- include('include/_header')%>
<!-- /Include header-->

    <!--Main Site-->
    <main id="site-main">
        <div class="container text-center">
            <div class="box-nav d-inline-block justify-between m-2em">
                <a href="/adminlogin" class="border-shadow">
                    <span class="text-gradient">Admin Login<i class="fa-solid fa-user-group"></i></span>
                </a>
            </div>

            <div class="box-nav d-inline-block justify-between m-2em">
                <a href="/userlogin" class="border-shadow">
                    <span class="text-gradient">User Login<i class="fa-solid fa-user-group"></i></span>
                </a>
            </div>  
        </div>
    </main>
    <!--Main Site-->
    
<!-- Include footer-->
<%- include('include/_footer')%>
<!-- /Include footer-->